snippet faqtable
	{|border="1" || class="sortable"
	|+ <font size="4"></font size>
	
	!Library
	!Function
	!Issue
	!Resolution
	!Comments
	|-
	|${1:Rlibrary}
	|${2:Rfunction}
	|${3:issue}
	|${4:resolution}
	|${5:comments}
	|-
	|}
